<!DOCTYPE html>
<html lang="en">

{{>headerLink}}

<body>
{{>navbar}}

    <!-- main header -->

    <div class='container-fluid main_header'>
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div -->
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/about.png" alt="manas" class="img-fluid" title="Project Manas">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>welcome to weather app</p>
                        <h1>Block by<span class="text_clr"> Block </span> Story by <span class="text_clr">Story</span>
                        </h1>
                        <a href="https://www.google.com/"><button>About me</button></a>
                        <!-- right side div -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{>footer}}

</body>

</html>